$grey: #eee;
@mixin flexCenter(
  $direction: null,
  $justify-content: center,
  $align-items: center
  ) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $direction;
}

body {
	font-family: 'Source Sans Pro';
	background-color: #12161c;
	margin: 0;
}

.router-view-container {
	padding: 30px;
	display: flex;
	justify-content:center;
	align-items:center;
}

.container {
	width:1000px;
	max-width: 80vw;
	background-color: white;
	padding: 40px;
	min-height: 50vh;
	border-radius: 4px;
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.full-width {
	width: 100%;
}