$grey: #eee;
$fs-small: 12px;
$fs-medium: 18px;
$padding: 20px;

@mixin flexCenter(
  $direction: null,
  $justify-content: center,
  $align-items: center,
  $flex-wrap: wrap,
  ) {
	display: flex;
	justify-content: $justify-content;
	align-items: $align-items;
	flex-direction: $direction;
	flex-wrap: $flex-wrap;
}

body {
	font-family: 'Source Sans Pro';
	background-color: #12161c;
	margin: 0;
}

.router-view-container {
	padding-top: 30px;
	padding-bottom: 30px;
	@include flexCenter(column);
}

footer {
	margin: 20px;
	&.disclaimer {
		color: white;
	}
	a {
		color: grey;
	}
}

.container {
	width:1000px;
	max-width: 80vw;
	background-color: white;
	padding: $padding;
	min-height: 50vh;
	border-radius: 4px;
	@media (max-width: 900px) {
		max-width: 90vw;
	}
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
.full-width {
	width: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin-top: 0;
}